<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- root menu -->
    <menuitem id="menu_hospital_root" name="HMS" web_icon="om_hospital,static/description/icon.png" sequence='1'/>
    <!-- submenu -->
     <menuitem id="menu_frontdesk" name="Front Desk" parent="menu_hospital_root"/>
     <!--  submenu  with action -->
     <menuitem id="menu_patients" name="Patients" parent="menu_frontdesk" action="action_hospital_patient" />
     <menuitem id="menu_patients_readonly" name="Patients Views" parent="menu_frontdesk" action="action_hospital_readonly_patient" />
     <menuitem id="menu_appointments" name="Appointments" parent="menu_frontdesk" action="action_hospital_appointment" />

    <!-- submenu -->
     <menuitem id="menu_configuration" name="Configuration" parent="menu_hospital_root"/>
     <!-- submenu witha action -->
      <menuitem id="menu_patient_tag" name="Tags" parent="menu_configuration" action="action_patient_tag" />
    
</odoo>
